doctype html
html#app(lang='en', ng-app='chatApp')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		title(ng-controller="NotificationsController")
			{{unread | showUnread}}#{organization} - #{topic}

		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css')
		link(rel='stylesheet', href='../css/style.css')

		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js')
		script(src='https://cdn.socket.io/socket.io-1.0.0.js')
		script(src='../js/bundle.out.js')


	body.container
		nav.navbar.navbar-inverse.navbar-fixed-top(ng-controller="ProfileController")
			div.title
				.navbar-header
					span.navbar-brand
						span #{organization} - Hi, 
						input(ng-model='name', ng-change='updateName()')
			div.color
				span.navbar-brand
					span #
					input(
						ng-model='color',
						ng-change='updateColor()',
						style='color: {{color | hexColor}}')
		#content.container(ng-controller='ChatController')
			.members
				table.table.table-inverse
					thead
						caption
							h4 Participants
						tr
							th #
							th Initials
							th Name
							th Online
					tr(ng-repeat='member in members', ng-class=`{'active': $index === index}`)
						td {{$index + 1}}
						td.initials(style='color: {{member.color | hexColor}}')
							{{member.name | initials | uppercase}}
						td {{member.name | cap}}
						td
							span(
								class=`glyphicon {{member.online | bool: 'glyphicon-ok-circle' : 'glyphicon-ban-circle'}}`,
								aria-hidden=`true`
								)
			.thread
				h1= topic
				ul#messages.media-list
					li.media(ng-repeat="message in thread")
						.media-left
							div(title='{{message.sender | getName: members | cap}}')
								span.initials(style='color: {{members[message.sender].color | hexColor}}')
									{{message.sender | getName: members | initials}}
						.media-body
							span.message-body(ng-bind-html='message.body | ntobr')
							br
							br
							span.badge @ {{message.time | time}}
					li.media(id='message-input', ng-if='typing > -1')
						.media-left
							div(title='{{typing | getName: members | cap}}')
								span.initials(style='color: {{members[typing].color | hexColor}}')
									{{typing | getName: members | initials}}
						.media-body
							img(src='../../images/typing.gif')
					li.media(id='message-input')
						hr
						.media-left
							div(title='{{index | getName: members | cap}}')
								span.initials(style='color: {{members[index].color | hexColor}}')
									{{index | getName: members | initials}}
						.media-body
							textarea#compose(
								ng-model='text'
								ng-keydown='$event.keyCode == 13 && sendMessage($event)',
								ng-change='showTyping()',
								placeholder='Write message here...'
								)


